<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>Home</title>
  </head>
  <style>
    .score{
      font-weight: bold;
      font-size: 76px;
    }
    h3::before {
      content: "Game Speed:";
    }
  </style>
  <body>
    <form action="{{ url_for('index') }}" method="post">
      <button type="submit">Return</button>
    </form>
    <h3 id = "speed" style="text-align: center"> {{gameSpeed}} </h3>
    <div id="scores">
      <span id = "left" class="score">0</span>
      <span id = "right" class="score" style="float: right">0</span>
    </div> <hr>
      <canvas id="pong" width="1500" height="440"></canvas>
      <script src="{{url_for('static', filename='pong.js')}}" charset="utf-8"></script>
  </body>
</html>
